.LV1 {
    background-color: red;
    position: absolute;
    width: 600px;
    height: auto;
    align-content: center;
    margin: auto auto auto auto;
   }

.LV2 {
    display: table;
    width: 100%;
    height: auto; 

}
.LV2_2 {
    display: table;
    width: 100%;
    height: 25px; 
}
.LV3_1 {
    width: 100%;
    height: 25px; 
}
.LV3_2 {
    display: table-cell;
}

.LV3_3 {
    display: table-cell;

}
.LV3_4 {
    display: table-cell;    
    width: auto;

}
.LV3_5 {
    width: 100%; 
    height: 150px; 

}

.LV4 {
    position: relative;
    width: 50%; 
    height:50%;

}


img {
    width: 600px;
    height: auto;
    margin: 10px 0px 10px 0px;
}

.LV1 {
    background-color: white;
    position: absolute;
    margin: 50px 100px 50px 100px;
   }
body {
    background-color: black;
}

h1{
 
    /*padding: auto;
    /*font-family: 'Squada One', cursive;*/
}
p {

    /*font-family: 'Gloria Hallelujah', cursive;*/
}
.ow_text{
    overflow: scroll
}
input {
    margin: 5px;
    border: none;
    border-bottom: gray solid 2px;
    /*font-family: 'Paytone One', sans-serif;*/
}

.div_three {
    position: relative;
    width: 100%; 
    float:left; 
    height:25px;
    text-align:center;
}
button {
    /*font-family: 'Fugaz One', cursive;*/
}